# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
api/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.csv
temp/
uploads/ngrok
ngrok-v3-stable-linux-amd64.tgz
start_server.sh
truth_allah.csv
